<h1>Angular 7 </h1>


<h1>CLI commands</h1><hr>
<p>Required :</p>
<ul><li>Nodejs</li>
 <li>Npm</li>
 <li>Angular CLI</li>
 <li>Editor</li>
 </ul>
<hr>
<p>Steps  :</p>
<ol><li>npm install –g @angular/cli : to install cli</li>
 <li>ng new my-learning-app : to create project </li>
 <li>cd my-learning-app  : to change folder </li>
 <li>ng serve : to start server </li>
 </ol>
<hr>
<p>folder structure :</p>
<ul><li><b>e2e/ : </b> end to end test folder. Mainly e2e is used for integration testing and helps ensure the application works fine.</li>
 <li><b>node_modules/</b> : The npm package installed is node_modules. You can open the folder and see the packages available.  </li>
 <li><b>src/ : </b> This folder is where we will work on the project using Angular 7.Inside src/ you will app/ folder created during the project setup and holds all the required files required for the project. </li>

 </ul>
<hr>
<hr>
<p>File structure :</p>
<ul><li><b>angular.json  : </b> It basically holds the project name, version of cli, etc.</li>
 <li><b>.editorconfig </b> :  This is the config file for the editor.  </li>
 <li><b>.gitignore  : </b>gitignore file should be committed into the repository, in order to share the ignore rules with any other users that clone the repository. </li>
 <li><b>package.json </b> :  The package.json file tells which libraries will be installed into node_modules when you run npm install. default module will be-:
 "@angular/animations": 
"@angular/common":
"@angular/compiler":
"@angular/core": 
"@angular/forms":
"@angular/platform-browser":
"@angular/platform-browser-dynamic":
"@angular/router":
"core-js":
"rxjs":
"tslib":
"zone.js":</li>
 <li><b>tsconfig.json </b> : This basically contains the compiler options required during compilation.  </li>
 <li><b>tslint.json  </b> : This is the config file with rules to be considered while compiling.  </li>
 </ul>
<hr>